@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* src/app/globals.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  background-color: #fdfaf6;
}

body {
  background-color: #fdfaf6;
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.main-body {
  background-color: #fdfaf6;
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}

.product-card h2 {
  margin: 0 0 0.5rem;
}

.product-card p {
  margin: 0;
}
